<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <file>./logs/json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/json.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="DB_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <file>./logs/db.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/db.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="account.db" level="warn" additivity="false">
        <appender-ref ref="DB_FILE" />
    </logger>

    <root level="info">
        <appender-ref ref="LOG_FILE" />
    </root>
</configuration>